<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="sidebar_layout">
    <!-- Sidebar - Brand -->
    <a href="/" class="sidebar-brand d-flex align-items-center justify-content-center">
        <img th:src="@{/img/Mii_-_2.png}" style="width:105%;" alt="">
        <div class="sidebar-brand-text mx-3"></div>
    </a>

    <!-- Super Admin Sidebar -->
    <hr class="sidebar-divider my-0">
    
    <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fas fa-desktop"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <hr class="sidebar-divider">
    
    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
        <a class="nav-link" th:href="@{/super-admin/profile}">
            <i class="far fa-user-circle"></i>
            <span>Profile</span>
        </a>
    </li>
    
    <li class="nav-item" sec:authorize="hasRole('RELATION_MANAGER')">
        <a class="nav-link" th:href="@{/relation-manager/profile}">
            <i class="far fa-user-circle"></i>
            <span>Profile</span>
        </a>
    </li>
    
    <li class="nav-item" sec:authorize="hasRole('EMPLOYEE')">
        <a class="nav-link" th:href="@{/employee/profile}">
            <i class="far fa-user-circle"></i>
            <span>Profile</span>
        </a>
    </li>

    <hr class="sidebar-divider">
    
    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
        <a class="nav-link" th:href="@{/super-admin/employee}">
            <i class="fas fa-users"></i>
            <span>Employees</span>
        </a>
    </li>
    
    <li class="nav-item" sec:authorize="hasRole('RELATION_MANAGER')">
        <a class="nav-link" th:href="@{/relation-manager/site}">
            <i class="far fa-building"></i>
            <span>Site</span>
        </a>
    </li>
    
    <li class="nav-item" sec:authorize="hasRole('EMPLOYEE')">
        <a class="nav-link" th:href="@{/employee/task}">
            <i class="fas fa-tasks"></i>
            <span>Task</span>
        </a>
    </li>

    <hr class="sidebar-divider">
    
    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
        <a class="nav-link" th:href="@{/super-admin/site}">
            <i class="far fa-building"></i>
            <span>Site</span>
        </a>
    </li>
    
    <li class="nav-item" sec:authorize="hasRole('EMPLOYEE')">
        <a class="nav-link" th:href="@{/employee/report}">
            <i class="far fa-file-alt"></i>
            <span>Report</span>
        </a>
    </li>

    <hr class="sidebar-divider" sec:authorize="hasAnyRole('ADMIN','EMPLOYEE')">
    
    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
        <a class="nav-link" th:href="@{/super-admin/manager-site}">
            <i class="fas fa-user-tie"></i>
            <span>Manager Site</span>
        </a>
    </li>

    <li class="nav-item" sec:authorize="hasRole('EMPLOYEE')">
        <a class="nav-link" th:href="@{/employee/history}">
            <i class="fas fa-history"></i>
            <span>Note History</span>
        </a>
    </li>
    
    <hr class="sidebar-divider" sec:authorize="hasAnyRole('ADMIN','EMPLOYEE')">
    
    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
        <a class="nav-link" th:href="@{/super-admin/division}">
            <i class="fas fa-book"></i>
            <span>Division</span>
        </a>
    </li>
    
    <hr class="sidebar-divider" sec:authorize="hasRole('ADMIN')">
    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
        <a class="nav-link" th:href="@{/super-admin/user}">
            <i class="fas fa-user"></i>
            <span>User</span>
        </a>
    </li>

    <hr class="sidebar-divider" sec:authorize="hasRole('ADMIN')">
    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
        <a class="nav-link" th:href="@{/super-admin/user-role}">
            <i class="fas fa-user-check"></i>
            <span>User Role</span>
        </a>
    </li>

<!--    <hr class="sidebar-divider" sec:authorize="hasRole('ADMIN')">
    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
        <a class="nav-link" th:href="@{/super-admin/permission}">
            <i class="fas fa-user-cog"></i>
            <span>Permission</span>
        </a>
    </li>-->

    <hr class="sidebar-divider" sec:authorize="hasRole('ADMIN')">
    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
        <a class="nav-link" th:href="@{/super-admin/user-permission}">
            <i class="fas fa-users-cog"></i>
            <span>User Permission</span>
        </a>
    </li>
    <!-- End Nav Item - Super Admin -->

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" sec:authorize="hasRole('ADMIN')">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->

