<!DOCTYPE html>
<html lang="en">

<head th:replace="layout/header :: head_layout"></head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        
        <!-- Sidebar -->
        <ul th:replace="layout/sidebar :: sidebar_layout"></ul>
        <!-- End of Sidebar -->
        
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="layout/topbar :: topbar_layout"></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <button class="d-inline btn btn-success float-right"
                               data-toggle="modal" data-target="#divisionModal"
                               th:onclick="create()">
                                <i class="fas fa-plus"></i> Create Division
                            </button>
                            <h4 class="m-0 font-weight-bold text-primary">Division</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center">Division ID</th>
                                            <th style="text-align: center">Division Name</th>
                                            <th style="text-align: center">Manager Site Name</th>
                                            <th style="text-align: center; width: 18%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
<!--                                        <tr th:each="dv : ${division}">
                                            <td style="text-align: center" th:text="${dv.id}"></td>
                                            <td style="text-align: center" th:text="${dv.name}"></td>
                                            <td style="text-align: center" th:text="${dv.managerSite?.firstName} + ' ' + ${dv.managerSite?.lastName}"></td>
                                            <td style="text-align: center">
                                                <button class="btn btn-primary btn-circle"
                                                   data-toggle="modal" data-target="#divisionModal"
                                                   th:data-id="${dv.id}" th:data-name="${dv.name}"
                                                   th:data-managerSite="${dv.managerSite?.id}" th:onclick="detail(this.getAttribute('data-id'), 
                                                   this.getAttribute('data-name'), this.getAttribute('data-managerSite'))">
                                                    <i class="fas fa-info-circle"></i>
                                                </button>

                                                <button class="btn btn-warning btn-circle"
                                                   data-toggle="modal" data-target="#divisionModal"
                                                   th:data-id="${dv.id}" th:data-name="${dv.name}"
                                                   th:data-managerSite="${dv.managerSite?.id}" th:onclick="edit(this.getAttribute('data-id'), 
                                                   this.getAttribute('data-name'), this.getAttribute('data-managerSite'))">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </button>

                                                <button class="btn btn-danger btn-circle"
                                                   th:data-id="${dv.id}" th:onclick="deleteDivision(this.getAttribute('data-id'))">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="layout/footer :: footer_layout"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Modal-->
    <div th:replace="modal/logout :: logout_modal"></div>
    <div th:replace="modal/division :: divisionModal"></div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/validation-form.js}"></script>
    <script th:src="@{/js/division.js}"></script>

</body>

</html>