<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!--  Modal content for the above example -->
<div class="modal fade bs-example-modal-lg " id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" th:fragment="messageModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <form id="messageForm" method="POST" class="needs-validation" novalidate action="#">
                <div class="modal-body">
                    <div class="card-body">
                        <p><b>Employee ID : </b><span id="empId" th:text="${employee.id}"></span></p>
                        <p><b>Employee Name : </b><span th:text="${employee.firstName} + ' ' + ${employee.lastName}"></span></p>
                        <p><b>Report : </b><span id="message-report-id"></span></p>
                        <span id="message-status" hidden></span>
                    </div>
                    <div class="form-group">
                        <label for="note-body">Message</label>
                        <textarea id="note-body" class="form-control" type="text" rows="5"></textarea>
                    </div>

                    <div class="modal-footer">
                        <div class="form-group row">
                            <div class="col-sm 10">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary task-submit" id="btn-message">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
