<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!--  Modal content for the above example -->
<div class="modal fade bs-example-modal-lg" id="siteModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" th:fragment="siteModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">Site</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <form th:id="formModal" method="POST">
                <div class="modal-body">
                    <div class="form-group" th:id="id-1">
                        <label class="col-form-label" for="siteId">Site ID</label>
                        <input class="form-control" type="text" th:id="id" name="id" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="siteName">Site Name</label>
                        <input class="form-control" type="text" th:id="siteName" name="siteName" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="address">Address</label>
                        <input class="form-control" type="text" th:id="address" name="address" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="city">City</label>
                        <input class="form-control" type="text" th:id="city" name="city" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="relationManagerId">Relation Manager</label>
                        <select class="form-control" th:name="relationManagerId" th:id="relationManagerId" style="width: 100%;">
                            <option value="">-- Choose --</option>
                            <option th:each="emp : ${employees}" th:value=${emp.id} th:text="${emp.firstName} + ' ' + ${emp.lastName}"></option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group row">
                            <div class="col-sm 10">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="saveSite">Save Site</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
