<!DOCTYPE html>
<html lang="en">

    <head th:replace="layout/header :: head_layout"></head>
    <body class="bg-gradient-primary">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-login-image1"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-2">Forgot Password</h1>
                                            <hr>
                                        </div>
                                        <div class="alert alert-success" role="alert" th:if="${param.changed}">Password Has Been Reset. Please Check Your Email</div>
                                        <div class="alert alert-danger" role="alert" th:if="${param.not_found}">Username Not Found</div>
                                        <div class="alert alert-danger" role="alert" th:if="${param.not_match}">Username And Email Does Not Match</div>
                                        <div class="alert alert-danger" role="alert" th:if="${param.error}">Something Error Occurs</div>
                                        <form id="reset-form" class="user" action="/forgot-password" method="POST">
                                            <div class="form-group">
                                                <label class="col-form-label" for="username" ><i class="fas fa-user-circle"></i> Username</label>
                                                <input type="text" class="form-control form-control-user" id="username" th:name="username">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label" for="email"><i class="fas fa-envelope"></i> Email</label>
                                                <input type="email" class="form-control form-control-user" id="email" th:name="email" aria-describedby="emailHelp">
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                                Send
                                            </button>
                                        </form>
                                        <hr>
                                        <div class="text-center">
                                            <a class="small" href="/login">Have an account ? Login</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <!--<script src="vendor/jquery/jquery.min.js"></script>-->
        <!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

        <!-- Core plugin JavaScript-->
        <!--<script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>
        <script th:src="@{/js/app.js}"></script>

    </body>

</html>